<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';

	let servicesMenu: any;
	let projectsMenu: any;

	function toggleMenu(event: Event) {
		let target = event.target;
		console.log(target);

		if (target instanceof HTMLElement) {
			let data = target.dataset.menu;

			if (data) {
				let el = document.getElementById(data);

				if (el) {
					el.scrollIntoView({ behavior: 'smooth', block: 'start' });
				} else {
					let menu = data === 'services' ? servicesMenu : data === 'projects' ? projectsMenu : null;

					if (menu) {
						if (!menu.style.visibility || menu.style.visibility == 'hidden') {
							menu.style.visibility = 'visible';
						} else {
							menu.style.visibility = 'hidden';
						}
					}
				}
			}
		}
	}
</script>

<div class="app">
	<header>
		<div><button class:active={$page.url.pathname === '/'}><a href="/">HOME</a></button></div>
		<div>
			<button
				class:active={$page.url.pathname.startsWith('/services')}
				data-menu="services"
				on:click|preventDefault={toggleMenu}
				>SERVICES
				<i class="fa-solid fa-angle-down" />
			</button>
			<div class="services menu" bind:this={servicesMenu}>
				<ul>
					<li><a href="/services#architecture">ARCHITECTURE AND DESIGN</a></li>
					<li><a href="/services#compliance">COMPLIANCE AND REGULATORY SUPPORT</a></li>
					<li><a href="/services#governance">GOVERNANCE SUPPORT</a></li>
					<li><a href="/services#response">INCIDENT RESPONSE PLANNING</a></li>
					<li><a href="/services#program">PROGRAM DEVELOPMENT</a></li>
					<li><a href="/services#risk">RISK ASSESSMENT AND MANAGEMENT</a></li>
					<li><a href="/services#code">SECURE CODE DEVELOPMENT</a></li>
				</ul>
			</div>
		</div>
		<div class="logo"><img src="/logo-reverse.png" alt="Justin: vCISO | vCTO" /></div>
		<div>
			<button
				class:active={$page.url.pathname.startsWith('/projects')}
				data-menu="projects"
				on:click|preventDefault={toggleMenu}
				>PROJECTS
				<i class="fa-solid fa-angle-down" />
			</button>
			<div class="projects menu" bind:this={projectsMenu}>
				<ul>
					<li>
						<a href="https://enigmatick.social/@justin" target="_blank" rel="noopener">ENIGMATICK</a
						>
					</li>
					<li><a href="https://friendowment.us" target="_blank" rel="noopener">FRIENDOWMENT</a></li>
				</ul>
			</div>
		</div>
		<div>
			<button class:active={$page.url.pathname.startsWith('/contact')}
				><a href="/contact">CONTACT</a></button
			>
		</div>
	</header>

	<slot />
</div>

<style lang="scss">
	.app {
		width: 100%;
		display: grid;
		grid-template:
			[row1-start] 'header header header' [row1-end]
			[row2-start] 'content content content' [row2-end]
			/ 1fr auto 1fr;

		header {
			grid-area: header;
			width: 100%;
			display: flex;
			padding: 5px 0;
			align-items: center;
			justify-content: center;
			height: 120px;
			background: #1a1a1a;
			position: fixed;
			font-family: 'Almarai';
			color: white;
			z-index: 30;
			opacity: 0.95;
			transition-duration: 1s;

			div.menu {
				visibility: hidden;
				position: absolute;
				top: 80px;
				background: #3a3a3a;
				outline: 1px solid #555;

				ul {
					margin: 0;
					padding: 5px 15px;
					list-style: none;
					text-align: left;

					li {
						font-size: smaller;
						padding: 13px 10px;
						border-bottom: 2px solid #444;
						font-weight: bold;

						a {
							color: unset;
							text-decoration: unset;
						}
					}

					li:last-child {
						border-bottom: 0;
					}

					li:hover {
						transition-duration: 500ms;
						background: #444;
						color: red;
					}
				}
			}

			button {
				padding: 0 20px;
				border: 0;
				background: inherit;
				color: inherit;
				font-size: 16px;
				font-weight: bold;
				font-family: inherit;
				display: flex;
				align-items: center;

				@media only screen and (max-width: 700px) {
					display: none;
				}

				i {
					font-size: 14px;
					padding: 0 10px;
					color: #aaa;
					pointer-events: none;
				}

				a {
					color: unset;
					text-decoration: unset;
				}
			}

			button.active {
				color: #999;
			}

			button:hover {
				color: red;
				cursor: pointer;
				transition-duration: 500ms;

				i {
					color: darkred;
					transition-duration: inherit;
				}

				div {
					color: white;
				}
			}
		}

		header:hover {
			opacity: 1;
		}

		.logo {
			display: inline-block;
			width: 175px;
			margin: 0 20px;

			img {
				height: auto;
				width: 100%;
			}
		}
	}
</style>
