<script lang="ts">
	import Compose from './components/Compose.svelte';
	let composeComponent: Compose;

	function rate(event: any) {
		event.target.playbackRate = '1';
	}
</script>

<main>
	<video playsinline autoplay muted loop on:loadstart={rate} poster="/cyber.png" id="bgvid">
		<source src="/cyber.mp4" type="video/mp4" />
	</video>
	<div class="banner">
		<div class="mask" />
		<h1>Strategic Cybersecurity and Technology Leadership</h1>
		<h2>Based in Eugene, Oregon. Serving globally.</h2>
		<Compose bind:this={composeComponent} />
	</div>
	<article id="services">
		<h1>Technical and Advisory Services</h1>
		<h3>The ways I can help you</h3>

		<section>
			<ul>
				<li>
					<div><h2><i class="fa-regular fa-circle-dot" /></h2></div>
					<div>
						<h2><a href="/services#architecture">Architecture and Design</a></h2>
						<div>
							Whether your organization relies on cloud providers such as AWS, GCP, or Azure, or you
							maintain your own data centers, I can guide your team in developing a robust technical
							architecture to secure your digital assets. From network security and data protection
							to system design, I'll help craft a customized security infrastructure, fostering a
							secure environment for your business to thrive.
						</div>
					</div>
				</li>
				<li>
					<div><h2><i class="fa-regular fa-circle-dot" /></h2></div>
					<div>
						<h2><a href="/services#governance">Governance Support</a></h2>
						<div>
							Bridging technical and business concerns, I'll aid your leadership in making informed
							cybersecurity decisions, while managing regulatory, compliance, and contractual
							obligations. I'll align security architecture and operations with your business
							strategy, ensuring effective information risk management.
						</div>
					</div>
				</li>
				<li>
					<div><h2><i class="fa-regular fa-circle-dot" /></h2></div>
					<div>
						<h2><a href="/services#response">Incident Response Planning</a></h2>
						<div>
							Collaborating with your team, I'll craft an incident response plan to ensure swift and
							effiective responses to cybersecurity threats. I'll align this plan with compliance
							and regulatory obligations, empowering leadership to handle security incidents. My
							goal is to bolster your business resilience and prepare for cybersecurity
							contingencies.
						</div>
					</div>
				</li>
				<li>
					<div><h2><i class="fa-regular fa-circle-dot" /></h2></div>
					<div>
						<h2><a href="/services#program">Program Development</a></h2>
						<div>
							As your strategic advisor, I offer tailored Program Development services to optimize
							and secure your technology infrastructure. With your business needs in mind, I'll
							create a program integrating cybersecurity, risk management, and technology strategies
							to streamline operations, fortify defenses, and foster a resilient, growth-oriented
							business.
						</div>
					</div>
				</li>
				<li>
					<div><h2><i class="fa-regular fa-circle-dot" /></h2></div>
					<div>
						<h2><a href="/services#risk">Risk Assessment and Management</a></h2>
						<div>
							I'll guide your team through the development of a holistic Risk Management Program for
							your organization incorporating leading practices from guidance such as the NIST
							Cybersecurity Framework and the FAIR Risk Model. I will assist in crafting mitigation
							plans and establishing procedures for continual assessment and response. My ultimate
							goal is to foster a proactive risk culture, enabling your business to preemptively
							address threats and maintain its growth trajectory.
						</div>
					</div>
				</li>
				<li>
					<div><h2><i class="fa-regular fa-circle-dot" /></h2></div>
					<div>
						<h2><a href="/services#code">Secure Code Development</a></h2>
						<div>
							Do you need help building secure, high-performance applications? I offer Secure Code
							Development services tailored to your needs. Leveraging my experience with
							safety-oriented technologies like Rust, WebAssembly (wasm), and TypeScript; modern
							frameworks such as SvelteKit and Yew; and Smart Contract languages like Solidity, I
							can guide your team in developing secure, efficient, and maintainable code that aligns
							with the highest security standards.
						</div>
					</div>
				</li>
			</ul>
		</section>
	</article>
	<article id="projects">
		<h1>Personal Projects</h1>
		<h3>Services that I'm building</h3>

		<p>
			These are projects that address challenges that I am either particularly passionate about, or
			for which I believe I can contribute to the solution space in a unique or rarified way. I seek
			out opportunities to apply my knowledge and experience in ways that enable people to live
			lives more productively, securely, and generously.
		</p>

		<p>
			In general, I don't intend to profit financially from these personal endeavors. They serve as
			a way for me to experiment with new ideas and to hone my craft.
		</p>

		<section class="narrow">
			<h2><a href="https://friendowment.us" target="_blank" rel="noreferrer">Friendowment</a></h2>

			<div><img src="/friendowment.png" alt="Friendowment Header" /></div>

			<h4>Fostering a culture of generosity</h4>

			<p>
				The idea for Friendowment arose from the thought that we could all be doing more to
				proactively address the financial needs of the communities that we exist within. At both a
				spiritual and a human level, I felt that the American ideal of individualism when it comes
				to matters of governance should not extend to matters of family and community. And we should
				be thinking about addressing that need before it arises, rather than only when an adverse
				event occurs.
			</p>

			<p>
				That line of thinking led me to build a financial tool that would allow communities to
				partner together to establish shared financial assets that could be drawn upon by individual
				members of the community autonomously, according to controls built in to the assets, when
				the need arises.
			</p>
		</section>

		<section class="narrow">
			<h2>
				<a href="https://enigmatick.social/@justin" target="_blank" rel="noreferrer">Enigmatick</a>
			</h2>

			<div><img src="/enigmatick.png" alt="Enigmatick Header" /></div>

			<h4>Enhancing privacy in federated social networking</h4>

			<p>
				The rise of decentralized social networking services like Mastodon and Pixelfed based on
				common standards (e.g., ActivityPub and WebFinger) has been exhilirating to watch. It's
				empowering to take some amount of control of our digital lives back under our own control.
			</p>
			<p>
				But the reality of that shift reveals that the privacy challenges imposed by centralized
				platforms do not disappear. Particularly in the case of complex applications like Mastodon
				and Pixelfed, most participants essentially just shift the trust placed in the Twitter and
				Meta corporations to relatively unknown individuals running and securing servers at their
				whims.
			</p>
			<p>
				One of the risks of using someone else's infrastructure is that the administrator often has
				full access to data that users might otherwise consider private (e.g., Direct Messaging).
				That's a problem that I sensed I could address and have been building toward solving with
				the end-to-end privacy technology in Enigmatick.
			</p>
		</section>
	</article>
</main>

<style lang="scss">
	main {
		margin-top: 120px;
		grid-area: content;
		width: 100%;

		video {
			object-fit: cover;
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
		}

		.banner {
			background: none;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			flex-direction: column;
			position: relative;
			justify-content: center;
			align-items: center;
			height: calc(100vh - 120px);

			.mask {
				position: absolute;
				background: black;
				opacity: 0.5;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100vh - 120px);
			}

			h1 {
				width: 100%;
				position: relative;
				text-align: center;
				color: white;
				font-family: 'Almarai';
				font-size: 4cqi;
				margin: 0;

				@media only screen and (max-width: 600px) {
					font-size: 6cqi;
				}
			}

			h2 {
				margin: 20px 0;
				padding: 0;
				color: #ccc;
				font-weight: normal;
				font-family: 'Almarai';
				font-size: 3cqi;
				position: relative;
				text-align: center;

				@media only screen and (max-width: 600px) {
					font-size: 4cqi;
				}
			}
		}

		article {
			color: white;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px 0;
			font-family: 'Almarai';

			h1,
			h2,
			h3,
			h4 {
				width: 100%;
			}

			h1 {
				margin: 0 0 10px 0;
			}

			h2 {
				margin: 0 0 10px 0;
				color: #eee;
				font-size: clamp(16px, 22px, 1.5cqi);

				@media only screen and (max-width: 600px) {
					font-size: clamp(16px, 18px, 4.4cqi);
				}
			}

			h3 {
				margin: 0;
			}

			h1,
			h3 {
				text-align: center;
			}

			h1 {
				font-size: 3cqi;

				@media only screen and (max-width: 600px) {
					font-size: 6cqi;
				}
			}

			h3,
			h4 {
				color: #bbb;
			}

			h4 {
				margin: 10px 0;
			}

			a {
				text-decoration: none;
				color: inherit;
			}

			a:hover {
				color: goldenrod;
				transition-duration: 500ms;
			}

			i {
				padding: 0 10px 0 0;
				color: darkgoldenrod;
			}

			p {
				font-family: 'Noto Sans';
				max-width: 800px;
				width: 100%;
				padding: 10px;
				margin: 0;
				font-size: clamp(14px, 16px, 1cqi);

				@media only screen and (max-width: 600px) {
					font-size: clamp(14px, 16px, 3.2cqi);
				}
			}

			section {
				width: 100%;
				max-width: 1200px;
				padding: 10px;

				p {
					width: calc(100% - 50px);
					padding: 10px 50px;
					font-family: 'Noto Sans';
					margin: 5px 0 5px 50px;
					background: unset;

					@media only screen and (max-width: 600px) {
						margin: 5px 0;
						padding: 10px;
						width: 100%;
					}
				}

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					width: 100%;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;

					li {
						margin: 0;
						width: 50%;
						padding: 20px 30px 20px 20px;
						display: flex;
						flex-direction: row;

						@media only screen and (max-width: 600px) {
							width: 100%;
						}

						div {
							margin: 0;
							font-family: 'Noto Sans';
							color: white;
							font-size: clamp(14px, 16px, 1cqi);
							line-height: 1.3;
							display: flex;
							flex-direction: column;
							flex-basis: fit-content;

							@media only screen and (max-width: 600px) {
								font-size: clamp(14px, 16px, 3.2cqi);
							}
						}
					}
				}

				div {
					width: 100%;

					img {
						width: 100%;
						height: auto;
					}
				}
			}

			.narrow {
				max-width: 800px;
				margin: 5px 0;

				h2 {
					font-size: clamp(18px, 30px, 2cqi);
					margin-bottom: 20px;
				}

				h4 {
					padding-left: 5px;
				}

				p {
					padding: 10px 40px 0 5px;
					margin: 0;
					width: 100%;
					font-size: clamp(13px, 16px, 1.2cqi);
				}
			}
		}
	}
</style>
