<script lang="ts">
	import Compose from '../components/Compose.svelte';
	let composeComponent: Compose;
</script>

<main>
	<header>
		<div class="mask" />
		<div class="contact">
			<h1>Justin Thomas</h1>

			<nav>
				<a href="https://linkedin.com/in/justinthomas" target="_blank" rel="noreferrer"
					><i class="fa-brands fa-linkedin" /></a
				>
				<a href="mailto:justin@jdt.io"><i class="fa-solid fa-envelope" /></a>
				<a href="https://ser.endipito.us/@justin" target="_blank" rel="noreferrer"
					><i class="fa-brands fa-mastodon" /></a
				>
				<a href="tel:+15033422844"><i class="fa-solid fa-mobile-screen" /></a>
			</nav>
			<Compose bind:this={composeComponent} />
		</div>
	</header>

	<section>
		<div class="cv">
			<div>
				<h2>Experience</h2>
				<ul>
					<li><span>Chief Information Security Officer</span><span>Sila</span></li>
					<li><span>Senior Security Architect</span><span>Fastly</span></li>
					<li><span>Information Security and Compliance Officer</span><span>Joyent</span></li>
					<li><span>Cloud Security Architect</span><span>Symantec</span></li>
					<li><span>Senior Director of Information Security</span><span>Simple Finance</span></li>
					<li>
						<span>Vice President and Information Security Risk Manager</span><span>Umpqua Bank</span
						>
					</li>
				</ul>
			</div>

			<div class="certifications">
				<a href="https://www.credly.com/badges/f8d743d7-318c-493a-8a7b-3d6851e41fd0/public_url" target="_blank" rel="noreferrer"><img src="./cissp.png" alt="CISSP" /></a>
				<a href="https://www.credly.com/badges/9134e9fb-92c4-4fdc-ba5a-7159fd5a014e/public_url" target="_blank" rel="noreferrer"><img src="./cism.png" alt="CISM" /></a>
				<a href="https://www.credly.com/badges/332a83e6-804c-4ee0-b267-4e8818e9b9eb/public_url" target="_blank" rel="noreferrer"><img src="./crisc.png" alt="CRISC" /></a>
			</div>

			<div>
				<h2>Education</h2>
				<ul>
					<li><span>Master of Business Administration</span><span>Marylhurst University</span></li>
					<li>
						<span>Bachelor of Arts in Business Management</span><span>Bushnell University</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="bio">
			<h1>Justin Thomas</h1>
			<h2>MBA, CISSP, CISM, CRISC</h2>
			<h3>Principal</h3>

			<p>
				Justin brings a lifelong sense of curiosity and exploration to a career devoted to helping
				people manage information and technology risks effectively. With a particular emphasis on
				FinTech and Engineering firms in the early stages of their growth, Justin has
				built expertise in a broad range of domains that allow him to guide executive and
				engineering teams through the development and implementation of business-focused
				cybersecurity and risk management capabilities.
			</p>

			<p>
				A pragmatic business leader first and foremost, Justin also has a deep affinity for
				novel technical challenges and for developing risk mitigation strategies for non-traditional
				business ideas. He brings specific experience in a broad set of common cloud development
				tools including Amazon Web Services (AWS), Google Cloud Platform (GCP), Google Workspace,
				Microsoft Azure, Microsoft 365, Kubernetes, Vercel, GitHub, GitLab, Datadog, etc. Similarly,
				Justin has supported and is adept with environments built around Linux, Mac OS X,
				Microsoft Windows, IllumOS, and other less common platforms.
			</p>

			<p>
				Although software development is not his primary strength, Justin is an adept coder within
				self-selected constraints. He favors technologies that promote safe coding practices (e.g.,
				Rust, Typescript, Haskell, etc.) but can contribute to codebases in Python, Ruby, plain
				Javascript, Java, etc. Justin has also built blockchain-based applications (e.g.,
				Solidity/Ethereum) and is comfortable working with those tools.
			</p>

			<p>
				Justin will provide fact-based opinions to assist teams in building a capable and
				versatile business operations platform. But he is also willing to help teams extend and
				better manage risk with any reasonable existing architecture.
			</p>
		</div>
	</section>
</main>

<style lang="scss">
	main {
		padding-top: 120px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-area: content;

		header {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			margin: 5px 0;
			padding: 10px;
			background-image: url('/candid.jpg');
			background-size: cover;
			background-position: center;
			min-height: 600px;
			min-width: 1000px;

			@media only screen and (max-width: 600px) {
				width: 100%;
				flex-direction: column;
				min-height: unset;
				min-width: unset;
			}

			.mask {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: black;
				opacity: 0.5;
			}

			.contact {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 10px 0;
				width: 50%;
				position: relative;

				@media only screen and (max-width: 600px) {
					margin: 10px;
					width: unset;
				}
			}

			h1 {
				font-size: clamp(36px, 6cqi, 56px);
				margin: 0 0 10px 0;
				font-family: 'Almarai';
				color: white;
			}

			nav {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding: 0 0 10px 0;

				a {
					font-size: 36px;
					padding: 0 15px;
					color: #888;
				}

				a:hover {
					color: red;
					transition-duration: 500ms;
				}
			}
		}

		section {
			color: white;
			display: flex;
			flex-direction: row;
			font-family: 'Noto Sans';

			h1 {
				font-size: clamp(24px, 3cqi, 36px);
				margin: 0;
			}

			h2 {
				font-size: clamp(18px, 1.5cqi, 48px);
				margin: 0;
				color: #aaa;
			}

			h3 {
				font-size: clamp(18px, 1cqi, 24px);
				font-weight: normal;
				margin: 5px 0;
				color: #888;
			}

			.cv {
				max-width: 400px;
				padding: 10px;

				@media only screen and (max-width: 600px) {
					display: none;
				}

				div {
					background: #252525;
					border: 1px solid #333;
					padding: 10px 20px;
					margin: 5px 0;
				}

				.certifications {
					border: 0;
					background: unset;
					padding: 0;
					margin: 0;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					overflow: hidden;
					justify-content: center;

					a {
						width: 30%;

						img {
							width: 100%;
							height: auto;
							padding: 5px;
						}
					}
				}

				ul {
					list-style: none;
					padding: 0;

					li {
						margin: 10px 0;
						font-family: 'Almarai';
						font-size: clamp(16px, 1.3cqi, 20px);
						line-height: 1.25;

						span:last-child {
							font-weight: bold;
							display: inline-block;
							width: 100%;
							color: darkgoldenrod;
						}
					}
				}
			}

			.bio {
				padding: 10px;

				h1 {
					font-size: clamp(24px, 2cqi, 32px);
				}

				p {
					font-family: 'Open Sans';
					max-width: 575px;
				}
			}
		}
	}
</style>
