<script lang="ts">
	import { onMount } from 'svelte';

	export { handleReplyToMessage, openAside };
	let maskElement: HTMLDivElement;
	let dialogElement: HTMLDialogElement;
	let topicElement: HTMLSelectElement;
	let detailElement: HTMLTextAreaElement;
	let contactForm: HTMLFormElement;
	let spinner: HTMLElement;
	let wasm: typeof import('client_profiler') | null;

	function openAside() {
		if (maskElement && dialogElement) {
			dialogElement.showModal();
			maskElement.classList.remove('closed');
		}
	}

	function closeAside() {
		if (maskElement && dialogElement) {
			dialogElement.close();
			maskElement.classList.add('closed');
		}
	}

	onMount(async () => {
		wasm = await import('client_profiler');

		if (wasm) {
			await wasm.default();
		}
	});

	async function handleComposeSubmit(event: any) {
		const formData = new FormData(contactForm);
		const topic = formData.get('topic');
		const email = formData.get('email');
		const phone = formData.get('phone');
		const detail = formData.get('detail');

		if (topic && email && phone && detail) {
			spinner.classList.remove("hidden");

			fetch('/nonce').then(async (response) => {
				const {nonce} = await response.json();

				wasm?.get_ua(nonce).then((ua) => {
					const { user_agent, date, hash } = JSON.parse(ua);

					fetch('/', {
						method: 'POST',
						body: JSON.stringify({ topic, email, phone, detail, user_agent, hash, date }),
						headers: {
							'Content-Type': 'application/json'
						}
					}).finally(() => {
						spinner.classList.add("hidden");
					});
				});
			});

			contactForm.reset();
			detailText = '';
			closeAside();
		}
	}

	let detailText = '';
</script>

<i bind:this={spinner} class="fa-solid fa-circle-notch fa-spin hidden"></i>
<div bind:this={maskElement} class="mask closed" />
<dialog bind:this={dialogElement}>
	<div>
		<button on:click={closeAside}>
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<i class="fa-solid fa-xmark" />
		</button>

		<form bind:this={contactForm} method="POST" on:submit|preventDefault={handleComposeSubmit}>
			<label for="topic">Topic</label>
			<select name="topic" bind:this={topicElement}>
				<option value="architecture">Architecture and Design</option>
				<option value="compliance">Compliance and Regulatory Support</option>
				<option value="governance">Governance Support</option>
				<option value="response">Incident Response Planning</option>
				<option value="program">Program Development</option>
				<option value="risk">Risk Assessment and Management</option>
				<option value="development">Secure Code Development</option>
				<option value="other">Something Else</option>
			</select>

			<label for="email">Email</label>
			<input type="email" required name="email" />

			<label for="phone">Phone</label>
			<input type="tel" required name="phone" />

			<textarea
				bind:this={detailElement}
				name="detail"
				required
				placeholder="What can I help you with?">{detailText}</textarea
			>

			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<button type="submit">
				<i class="fa-regular fa-paper-plane" />
			</button>
		</form>
	</div>
</dialog>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<button on:click={openAside}>REQUEST INFORMATION</button>

<style lang="scss">
	.hidden {
		display: none;
	}

	.fa-circle-notch {
		position: fixed;
		top: 40px;
		right: 30px;
		color: #555;
		z-index: 32;
		font-size: 32px;
	}

	.mask {
		background: #999;
		opacity: 0.5;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 31;
		pointer-events: all;
	}

	.closed {
		display: none;
	}

	dialog {
		background: #444;
		margin: 0;
		position: fixed;
		min-height: 220px;
		min-width: 400px;
		max-height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 32;
		text-align: unset;
		padding: 0;
		border: 0;

		> div {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
			max-width: 700px;
			margin: 0;
			padding: 30px 10px 0 10px;
			background: #444;

			i {
				color: #ccc;
				transition-duration: 1s;
			}

			> button {
				position: absolute;
				right: 10px;
				top: 4px;
				margin: 0;
				padding: 0;
				background: unset;
				border: 0;
				font-size: 24px;
			}

			button:hover {
				background: unset;

				i {
					cursor: pointer;
					color: red;
				}
			}

			div {
				padding: 0 10px;
			}

			form {
				display: flex;
				flex-direction: column;

				label {
					color: white;
					font-family: 'Almarai';
					font-weight: bold;
					font-size: 13px;
				}

				select {
					width: 100%;
					border: 0;
					background: #555;
					color: white;
					padding: 10px 5px;
					margin: 5px 0 10px 0;
					font-family: 'Almarai';
					font-size: 14px;
				}

				input {
					margin: 5px 0 10px 0;
					padding: 10px;
					background: #333;
					border: 1px solid #777;
					color: white;
				}

				textarea {
					position: relative;
					text-align: left;
					width: 100%;
					padding: 10px;
					margin: 0;
					background: #333;
					color: white;
					min-height: 150px;
					max-height: 80vh;
					border: 1px solid #777;
					font-family: 'Open Sans';
					word-wrap: break-word;
					white-space: pre-wrap;
					overflow: hidden;
					resize: none;
				}

				button {
					padding: 0;
					background: unset;
					border: 0;
					i {
						font-size: 24px;
						padding: 10px;
					}
				}
			}
		}

		@media screen and (max-width: 600px) {
			top: 0;
			left: 0;
			width: 100vw;
			max-width: unset;
			max-height: unset;
			margin: 0;
			height: 100%;
			transform: unset;

			div {
				position: relative;
				display: block;
				margin: 0;
				padding: 0;
				border: 0;
				height: 100%;
				width: 100%;
				max-height: unset;
				min-height: unset;
				padding-top: 35px;
				max-width: unset;
				min-width: unset;

				form {
					position: relative;
					width: 100%;
					bottom: 0;
					left: 0;
					border: 0;
					height: 100%;
					background: #444;

					label {
						padding: 0 5px;
					}

					select {
						width: calc(100% - 10px);
						margin: 5px 5px 10px 5px;
					}

					input {
						margin: 5px;
					}

					textarea {
						position: relative;
						display: block;
						height: calc(100% - 130px);
						width: calc(100vw - 12px);
						margin: 5px;
						border-radius: 0;
						border: 1px solid #aaa;
						max-height: unset;
						min-height: unset;
					}
				}
			}
		}
	}

	button {
		border: 0;
		background: darkred;
		color: white;
		position: relative;
		padding: 20px;
		font-family: 'Almarai';
		font-size: clamp(18px, 2cqi, 20px);
		font-weight: bold;
		transition-duration: 1s;
		border-radius: 5px;

		@media only screen and (max-width: 600px) {
			font-size: clamp(14px, 3.5cqi, 20px);
		}
	}

	button:hover {
		cursor: pointer;
		background: darkgoldenrod;
	}
</style>
